@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root{
    --primary: #dd956f;
    --primary-hover: #cd7d7c;
    --secondary: #efd0f8;
    --secondary-hover: #9565ca80;
    --aura: #9254ca80;
    --background: #261e5a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: Mulish;
}

h1{
    color: var(--secondary);
}
.background{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vh;
    display: grid;
    place-items: center;
    background-image: url(https://img.freepik.com/free-vector/realistic-colorful-galaxy-background_23-2148965681.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.5;
}

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.my_form{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 16px;
    box-shadow: 0 2px 60px var(--aura);
    min-width: 280px;
    max-width: 460px;
    width: 100%;
    padding: 32px;
}

.login{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.login_welcome{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.my_form_button{
    background-color: var(--primary);
    color: var(--background);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: 0.25em;
    text-decoration: none;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    cursor: pointer;
}

.text_field{
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}


